.form-control {
        width: auto;
        height: 28px;
    }
.container-fluid {
    padding-right: 0px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer {
        display: none;
           }